<div class="col-md-12" style="margin-top: 3%;">
    <div class="col-md-12">
        <div class="col-md-12">
            <h1><b>Employee Details:</b></h1>
            &nbsp;&nbsp;
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                        <mat-card>
                                <button class="btn btn-primary" (click)=getList()>Back To List</button> &nbsp;&nbsp;
                        
                                <button class="btn btn-primary"  (click)=getListMoreThanTwoYear()>Employee Experiance More Two Year </button>&nbsp;&nbsp;
                    
                                <button class="btn btn-primary" (click)=empDeptDistinctCount()>Employee distinct departments And Count</button>&nbsp;&nbsp;
                                
                                <button class="btn btn-primary" (click)=deleteDevDept()> Remove Development Department </button>&nbsp;&nbsp;
                            </mat-card>
                </div>
                <div class="col-md-1"></div>
              
            </div>
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
            </mat-form-field>

            <div class="table-responsive">
                <table class="table" mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef  style="width: 10px;"> ID </th>
                        <td mat-cell *matCellDef="let row" style="width: 10px;"> {{row.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell class="col-padding" *matHeaderCellDef mat-sort-header style="width: 200px;"> Name </th>
                        <td mat-cell *matCellDef="let row" style="width: 200px;"> {{row.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="department">
                        <th mat-header-cell *matHeaderCellDef  style="width: 200px;"> Department </th>
                        <td mat-cell *matCellDef="let row" style="width: 200px;"> {{row.department}} </td>
                    </ng-container>

                    <ng-container matColumnDef="joining_date">
                        <th class="col-padding" mat-header-cell *matHeaderCellDef mat-sort-header style="width: 200px;"> Joining Date </th>
                        <td mat-cell *matCellDef="let row" style="width: 200px;"> {{row.joining_date | date : 'd/M/yyyy'}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[10, 20, 25, 100]"></mat-paginator>
            </div>
        </div>
    </div>
</div>